.nouislider-range[data-tooltip="1"] {
  margin-top: 42px;
}
.nouislider-input.visually-hidden + .field-suffix {
  display: none;
}
.nouislider-input.visually-hidden ~ .field-prefix {
  display: none;
}
